*~
auto
andere

BeispieleAnnotieren.tex
BeispieleAnnotieren.pdf
BeispieleAnnotieren_files

Datengrundlage.pdf

CFP_*.pdf
biblio.bib

*.aux
*.dvi
*.log
*.run.xml
*.bcf
*.bbl
*.blg
*.tmp
*.4ct
*.4tc
*.idv
*.lg
*.xref
