*~
auto
AndereBeitraege

Slides.tex
Slides.pdf
Slides_files

Datengrundlage.pdf
Beitrag.pdf

CFP_*.pdf
biblio.bib
Beitrag.zip


*.aux
*.dvi
*.log
*.run.xml
*.bcf
*.bbl
*.blg
*.tmp
*.4ct
*.4tc
*.idv
*.lg
*.xref
*.idx
*.out
*.fls
*.ilg
*.ind
*.fdb_latexmk

# De Gruyter Template and Manual
AUTH*.zip
AUTH_README.txt
dgruyter*
journal-article.tex
book.tex
